@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:
  url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='6' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: cover;
}

@layer base {
  
  h1 {
    @apply text-[48px] leading-[120%] font-bold;
  }

  h2 {
    @apply text-[30px] leading-[120%] font-bold;
  }

  h3 {
    @apply text-[20px] leading-[120%] font-semibold;
  }

  p {
    @apply text-[18px] leading-[140%] ;
  }

  ul, li {
    @apply text-[16px] leading-[140%];
  }
}


.box {
  border-width: 2px;
  border-color: white;
}

.main-layout {
  @apply flex flex-col justify-self-center w-full max-w-screen-lg gap-12 lg:gap-16
}

.main {
  @apply w-full flex flex-col px-4 sm:px-8 lg:px-0 gap-8 lg:gap-12
}

.content {
  @apply w-full flex flex-col
}

.contact {
  @apply inline-flex items-center gap-3 my-1 w-full 
}

.card-skills {
  @apply border border-base-100 rounded-xl flex flex-col items-center justify-stretch gap-6 pb-6
}

.icon {
  @apply p-1 rounded invert
}

.size-palette {
  @apply w-28 h-36 rounded-xl flex flex-col justify-end text-center gap-4 py-4 px-2
}

.animate {
  @apply transition duration-1000 ease-in-out;
}


/* Animations  */

.animate-viewpoint {
  animation: fadeInDown 1s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.fl {
  animation: fadeInLeft 1s linear;
  }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    transition: transform 0.12s;
  }
}

.fr {
  animation: fadeInRight 1s linear;
  }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40%);
    transition: transform 0.12s;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.fd {
  animation: fadeInDown 1s linear;
  }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(20%);
    transition: transform 0.12s;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
