@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  
  h1 {
    @apply text-4xl font-bold lg:text-5xl
  }

  h2 {
    @apply text-2xl font-semibold lg:text-3xl
  }

  h3 {
    @apply text-lg font-semibold lg:text-xl
  }

  p {
    @apply text-base lg:text-lg
  }
}

.box {
  border-width: 2px;
  border-color: black;
}

.layout {
  @apply grid min-h-screen px-4 gap-24
}

.main {
  @apply grid gap-8 lg:gap-12 lg:p-8 lg:grid-cols-4 lg:rounded-xl lg:border lg:shadow-md lg:bg-base-100
}

.content {
  @apply grid col-span-2 gap-8 lg:gap-12
}

.emphasize {
  @apply border-l-4 border-primary pl-2
}

.contact {
  @apply inline-flex items-center gap-3 my-1
}

.card-skills {
  @apply border border-base-100 rounded-xl flex flex-col items-center justify-stretch gap-6 pb-6
}

.icon {
  @apply p-1 rounded
}

.size-palette {
  @apply w-28 h-36 rounded-xl flex flex-col justify-end text-center gap-4 py-4 px-2
}

.animate {
  @apply transition duration-1000 ease-in-out;
}


/* Animations  */

.animate-viewpoint {
  animation: fadeInDown 1s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.fl {
  animation: fadeInLeft 1s linear;
  }
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
    transition: transform 0.12s;
  }
}

.fr {
  animation: fadeInRight 1s linear;
  }
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(40%);
    transition: transform 0.12s;
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

.fd {
  animation: fadeInDown 1s linear;
  }
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(20%);
    transition: transform 0.12s;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
