@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  h1 {
    @apply text-4xl lg:text-6xl font-bold;
  }
  h2 {
    /* Sub H1  */
    @apply text-xl lg:text-4xl font-medium opacity-80;
  }
  h3 {
    @apply text-lg font-medium;
  }
  h4 {
    /* Sub H3  */
    @apply text-lg opacity-60;
  }
}

.box {
  border-width: 2px;
  border-color: white;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
}

.animate {
  @apply transition duration-500 ease-in-out;
}

/* Animations  */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin {
  animation: spin 11s linear infinite;
}

@keyframes animate-flow {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .animate-flow {
    animation-duration: 20s;
  }
}

@media (max-width: 480px) {
  .animate-flow {
    animation-duration: 7s;
  }
}

.animate-flow {
  animation: animate-flow 30s linear infinite;
}

.animate-flow-reverse {
  animation: animate-flow 30s linear infinite reverse;
}
