
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'primeflex/primeflex.css';

:root {
  font-family: "Inter", serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { background-color: #C2C7CC }

h1 {
  font-size: 76px;
  line-height: 120%;
  font-weight: 700;
}

h2 {
  line-height: 120%;
  font-weight: 700;
}

h3,h4,h5,h6 {
  line-height: 120%;
  font-weight: 600;
}

h2 {font-size: 64px;}
h3 {font-size: 48px;}
h4 {font-size: 36px;}
h5 {font-size: 26px;}
h6 {font-size: 20px;}

ul,p {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  list-style-type: disc;
  list-style-position: inside;
}

.box {
  border-width: 1px;
  border-color: white;
}

.box2 {
  border-width: 1px;
  border-color: black;
}

.primary {background-color: #34659D;}

.home {
  @apply 
    min-w-[320px] 
    min-h-screen 
    text-[#2b2b2b] 
    flex 
    flex-col 
    items-center
}

.content {
  @apply w-full flex justify-center
}

.ctf {
  /* center flex  */
  @apply flex justify-center items-center
}

.ctg {
  /* center grid  */
  @apply grid place-items-center 
}

.nav {
  @apply w-full max-w-5xl bg-white rounded-full shadow-md my-8
}

.head-menu {
  @apply cursor-pointer font-bold mr-4 hover:animate-bounce py-3
}

.submenu {
  @apply p-1 border-[#34659D] cursor-pointer hover:border-b-4 focus:border-b-4 
}

.submenu2 {
  @apply block p-1 hover:bg-gray-200 focus:bg-gray-200
}

.menu-icon {
  @apply p-1 hover:bg-gray-200 cursor-pointer focus:bg-gray-200 focus:ring focus:ring-gray-300
}

.main {
  @apply w-full max-w-5xl bg-white rounded-3xl shadow-xl p-2 grid gap-2 lg:flex
}

.head {
  @apply primary rounded-2xl text-white ctf p-12 
}

.content {
  @apply px-12 py-14 gap-8 grid lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1
}

.contact {
  @apply flex items-center gap-4 size-6 
}

.card {
  @apply shadow-xl rounded-md cursor-pointer hover:border-2 
}

.back {
  @apply size-10 absolute left-10 rounded-full hover:bg-white/10
}

.fade {
  @apply transition duration-1000 ease-in-out 
}

.hide {
  @apply opacity-0
}

.show {
  @apply group-hover:opacity-100
}

/* Animations  */
.fin { animation: fadein 1s linear }
@keyframes fadein {
  0% { opacity: 0 }
  100% { opacity: 1 }}


.fl { animation: fadeinleft 0.6s linear }
@keyframes fadeinleft {
 0% {
  opacity: 0;
  transform: translateX(-40%);
  transition: transform .12s
 }
100% {
  opacity: 1;
  transform: translateX(0%);
 }}


.fr { 
  animation: fadeinright 0.6s linear;
}
@keyframes fadeinright {
0% {
  opacity: 0;
  transform: translateX(40%);
  transition: transform .12s
}
100%   {
  opacity: 1;
  transform: translateX(0%);
}}


.fd { animation: fadeindown 0.6s linear }
@keyframes fadeindown  {
0% {
  opacity: 0;
  transform: translateY(40%);
  transition: transform .12s 
}
100%   {
  opacity: 1;
  transform: translateY(0%);
}}


.fu { animation: fadeinup 0.6s linear }
@keyframes fadeinup  {
0% {
  opacity: 0;
  transform: translateY(-40%);
  transition: transform .12s 
}
100%   {
  opacity: 1;
  transform: translateY(0%);
}}